body { 
	width: 100%;
	height:100%;
	font-family: 'Open Sans', sans-serif;
	background: #092756;
	background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
}
   
  input[type="email"], input[type="password"], input[type="submit"] {
    display: block;
    border: 0;
    padding: 5px;
    background-color: #ffffff;
    width:339px;
    height:36px;
    margin: 20px auto;
    font-size: 17px;
    border-radius: 3px;
    text-indent: 5px;
    color: #7B828B
  }
  
  h1 {
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    letter-spacing: 5px;
    text-align: center;
  }
  
  button[type="signUp" ] {

    color: #FFF;
    background-color: #2DC185;
    border: 0;
    padding: 7px 30px;
    font-size: 17px;
    text-transform: capitalize;
    height:36px;
    width: 105%;
    margin: 20px auto;
    border-radius: 3px;
    margin-left: 44%;
    width: 205px;
    
  }
  button[type="sign Up1" ] {
    color: #FFF;
    background-color: #796a6a;
    border: 0;
    padding: 7px 30px;
    font-size: 17px;
    text-transform: capitalize;
    height:36px;
    width: 105%;
    margin: 20px auto;
    border-radius: 3px;
    margin-left: 44%;
    width: 205px;
    display: block;
  }

  button[type="logIn" ] {
    color: #FFF;
    background-color: #2DC185;
    border: 0;
    padding: 7px 30px;
    font-size: 17px;
    text-transform: capitalize;
    height:36px;
    margin: 20px auto;
    border-radius: 3px;
    position: fixed ; 
    cursor: pointer;
    margin-top: 5%;
    margin-left: 44%;
    width: 205px;

    
  }
  button:hover {
    background-color: #3e8e41;
  }

  h6 {
    font-size: 17px;
    margin-left: 44%;
  }
 